{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="header">
        <div class="login-card px-4 py-2">
            <h4 class="fw-light text--center mb-4">Pomo<span class="text--primary">doro</span></h4>
            <p class="fw-light">Fill in the fields to login</p>
            <form class="d-flex flex-column justify-content-center align-items-center" action="/login" method="post">
                {{form.hidden_tag()}}
                <div class="mb-2">
                    <div class="fw-bold text-capitalize mb-2">
                        {{form.username.label}}
                    </div>
                    <div>
                        {{form.username(size=30, class_="form-control" )}}
                    </div>
                </div>
                <div class="mt-2">
                    <div class="fw-bold text-capitalize mb-2">
                        {{form.password.label}}
                    </div> 
                    <div>
                        {{form.password(size=30, class_="form-control")}}
                    </div>
                </div>
                <div>
                    <input class="ghost-button" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}